<div class="footer">
    <p>all rights are reserved to shopper's choice.com</p>
    <div class="mediaLinks">
        <img src="/facebook.svg" alt="Facebook.svg">
        <img src="/instagram.svg" alt="Instagram.svg">
        <img src="/linkedin.svg" alt="Linkedin.svg">
    </div>
</div>