<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feeback</title>
</head>
<body>
    <div class="feedbackContainer">
        <div class="feedbackPageContent">
            <img src="./icons8-comments.gif">
            <h2>Thanks, for filling contact form.</h2>
            <h3>we will reply as soon as possible</h3>
        </div>
    </div>
</body>
</html>