<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopper's Choice</title>
</head>
<body>
    <div class="thankyouPageContainer">
        <div class="thankyouPageContent">
            <img src="./icons8-check-circle.gif" alt="green-check-circlr-gif" id="paymentIcon">
            <h2>Your payment has been successful.</h2>
            <h3>thank you for choosing us as your shopping choice.</h3>
        </div>
    </div>
</body>
</html>